body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(meteo-img.png);
  color: white;
  font-family: poppoin, Arial, Helvetica, sans-serif;
  font-size: large;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 440;
}

h1 {
  font-weight: 700;
  margin-top: 175px;
}

input {
  width: 350px;
  padding: 5px;
}
