*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    display: flex;
    justify-content: center;
    margin: 0vh 0 2vh 0;
}
#contenedorImagen{
    display: flex;
    justify-content: center;
}
form{
    border-radius: 20px;
    background-color: #C8E7ED;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 50px 50px 20px 50px;
}
input{
    margin-bottom: 1vh;
    height: 25px;
    text-align: center;
    border-radius: 20px;
}
input[type=number]{
    -moz-appearance: textfield;
}

textarea{
    margin-bottom: 1vh;
    height: 100px;
    text-align: center;
    border-radius: 20px;
}
#foto{
    border-radius: 0px;
}
#registro{
    border: 1px solid black;
    background-color: #ffa19d;
    width: 40%;
    height: 35px;
    margin: 3vh auto;
}
#registro:active{
    background-color: #F97068;
}